/* Globle Rules */

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
:root{
    --main-color: #10cab7;
    --secondary-color:#2c4755;
}
body{
    font-family: "Work Sans", sans-serif;

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto ;
}

/* small */
@media (min-width : 768px){
    .container{
    width: 750px ;
    }
}
/* medium */
@media (min-width : 992px){
    .container{
    width: 970px ;
    }
}
/* large */
@media (min-width : 1200px){
    .container{
    width: 1170px ;
    }
}
/* End Globle Rules */


/* Start Component */
.special-heading{
  font-size: 90px;
  font-weight: 800;
  color: #ebecde;
  letter-spacing: -4px;
  text-align: center;
  margin: 0;

}
.special-heading + p{
   font-size: 18px;
   text-align: center;
   margin: -30px;
   color: #797979;
}
@media (max-width: 768px ) {
  .special-heading{
  font-size: 60px;
}
.special-heading + p{
   font-size: 12px;
    margin: -20px;
}
}
/* End Component */

html{
  scroll-behavior: smooth;
}

/* Start header */
.header {
    padding: 20px;
    background-color: #f6f6f6;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    width: 60px;
    animation-iteration-count: infinite ;
   animation-direction: alternate;
    animation-name: logo-animation;
    animation-duration: 1s;
}
@keyframes logo-animation{
  from{
    transform: translateX(-10px);
  }


}   


.header .link {
    position: relative;
}
.header .link .icon-link{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.header .link .icon-link:hover span:nth-child(2){
    width: 100px;
}
.header .link .icon-link span{
    background-color: black;
    margin-bottom: 5px;
}
.header  .link .icon-link :first-child{ 
    height: 3px;
    width: 100%;
}
.header  .link .icon-link :nth-child(2){
    height: 3px;
    width: 50%;
    transition:3s;
}
.header  .link .icon-link :last-child{
    height: 3px;
    width: 100%;
}

.header .link ul{
    display: none;
    background-color: #f6f6f6;
    min-width: 200px;  
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0px;
    top: calc(100% + 10px);
    z-index: 1;
}
.header .link:hover ul{
    display: block;
}


.header .link ul::before  {
 content: "";
 border-width: 20px;
 border-style:solid ;
 border-color: transparent transparent #f6f6f6 transparent;
 position: absolute;
 top: -40px;
 right: 0px;
}
.header .link ul  li {
 padding: 15px;
 font-size: 20px;
 font-weight: 400;
 
} 

.header .link ul li:not(:last-child) {
    border-bottom: #ddd;
    border-bottom-style: solid;
    border-width: 2px;
}
.header .link ul  li a{
    display: block;
 text-decoration: none;
 color: #333;
 transition: 0.3s;
}
.header .link ul  li:hover a{
  padding-left: 13px;
  color: #0e9486;
  font-weight: 500;
}

/* End Header */

/*  Start Landing Section  */
 .landing{
    background-image: url(../image/image-2023.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    margin: 0;

 }
 .landing .intro-text{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width:350px;
    max-width: 100%;
 }

  .landing .intro-text h1{
   margin: 0;
   line-height: 1.8;
   color: var(--main-color);

 }
/*  End Landing Section  */

/* Start Feature  */

.feature {
  padding-bottom: 60px;
  padding-top: 60px;
   background-color: #f6f6f6;

}
.feature .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr) );
  gap: 100px 100px;
}
.feature .container .feat {
  text-align: center;
}
.feature .container .feat i{
  color: var(--main-color);
  animation-name:  icon-awesome;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes icon-awesome {
  0% {
    transform:  scale(1);
  }
  25% {
    transform:  scale(1.1);
  }
  50% {
    transform:  scale(1);
  }
  75% {
    transform:  scale(1.1);
  }
  100% {
    transform:  scale(1);
  }
}
.feature .container .feat h3{
  font-size: 20px;
  font-weight: 800;
}
.feature .container .feat p{
   font-size: 15px;
   line-height: 1.5;
   color: #777;
}


/* End Feature  */

/* Start Services */
.services{
  padding-bottom: 60px;
  padding-top: 60px;
}
.services .container .service-contant {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 20px;
  margin-top: 120px;
}


.services .container .service-contant .column .serv{
  display: flex;
  flex-basis: 300px;
  margin-bottom: 30px;


}
@media (max-width : 768px){
 .services .container .service-contant .column .serv {
   flex-direction: column;
     align-items: center;   
    text-align: center;
}
}
.services .container .service-contant .column .serv .text {
  flex: 1;
}
.services .container .service-contant .column .serv .text p{
  line-height: 1.5;
}
.services .container .service-contant .column .serv i{
  flex-basis: 50px;
 color: var(--main-color);
}
.services .container .service-contant .column .image{
  background-color: #c3c3c3;
  width: 200px;
  height: 300px;
  margin-top: 40px;
  position: relative;
}
.services .container .service-contant .column .image::before{
 content: '';
 background-color:var(--secondary-color);
 width: 60px;
 height: 360px;
 position: absolute;   
 top: -30px;
 right: -20px;  
 z-index: -1;
}
@media (max-width:992px ){
  .services .container .service-contant .column .image{
   display: none;
}
}   
/* End Services */

/* Start profile */
.profiles{
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f6f6f6;
}

.profiles .container .profile-contant {

  margin-top: 80px;
}

.profiles .container .profile-contant .column{
  display: grid;
  grid-template-columns: repeat( auto-fill,minmax(300px,1fr) );
  grid-gap: 85px;
  margin-top: 180px;
}
.profiles .container .profile-contant .column .card{
    background-color: white;
}
.profiles .container .profile-contant .column .card img{
  width: 100%;
  height:220px ;
}
.profiles .container .profile-contant .column .card .text{
   padding: 20px; 
}
.profiles .container .profile-contant .column .card h3{
margin: 0;
}
.profiles .container .profile-contant .column .card p{
 color: #777;
  line-height: 1.4;
}

/* Start profile */
.about{
  padding-top: 60px;
  padding-bottom: 60px;
  
}
.about .container .about-contant{
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
@media (max-width : 999px) {
.about .container .about-contant {
  flex-direction: column;
}
}

.about .container .about-contant .column .image{
  background-color: #c3c3c3;
  width: 250px;
  height: 250px;
  margin-top: 40px;
  position: relative;

}
.about .container .about-contant .column .image::before{
   content: '';
   background-color: #eee;
   width: 80px;
   height: calc(100% + 80px);
   position: absolute;
   top: -40px;
   left: -15px;
   z-index: -1;
}
.about .container .about-contant .column .image::after{
   content: '';
   width: 80px;
   height: 70%;
   position: absolute;
   top: -40px;
   right:-115px;
   border-bottom: 70px solid var(--main-color);
   border-left: 80px solid var(--main-color);
   z-index: -1;
}

.about .container .about-contant .text{
  flex-basis: 550px;
  font-size: 20px;
  
  
}
@media (max-width : 999px) {
.about .container .about-contant .text{
  text-align: center;
  margin-top: 60px;
} 
}
@media (max-width : 500px) {
.about .container .about-contant .column .image{
  background-color: #c3c3c3;
  width: 150px;
  height: 150px;
  margin-top: 40px;
  position: relative;

}
.about .container .about-contant .column .image::before{
   content: '';
   background-color: #eee;
   width: 40px;
   height: calc(100% + 60px);
   position: absolute;
   top: -30px;
   left: -15px;
   z-index: -1;
}
.about .container .about-contant .column .image::after{
   content: '';
   width: 40px;
   height: 70%;
   position: absolute;
   top: -40px;
   right:-60px;
   border-bottom: 50px solid var(--main-color);
   border-left: 50px solid var(--main-color);
   z-index: -1;
}
}
.about .container .about-contant .text p:first-of-type{
 font-weight: bold;
 line-height: 1.5;
 margin-bottom: 20px;

}
.about .container .about-contant .text hr{
 border-bottom: 3px solid var(--main-color);
 display: inline-block;
 width: 50%;
}
.about .container .about-contant .text p:last-of-type{
 font-weight: 15px;
 line-height: 1.5;
 color: #777;
}

/* End profile */


/* Start Contact */
.contact{
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f6f6f6;
}
.contact .container .about-contant{
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .container .about-contant .label{
 color: var(--secondary-color);
 font-size: 30px;
 font-weight: 800;
}
.contact .container .about-contant .link{
 display: block;
 color: var(--main-color);
 font-size: 30px;
 font-weight: 800;
 text-decoration: none;
}

.contact .container .about-contant .special{
 font-size: 18px;
 display: flex;
 justify-content: center;
 margin-top: 15px;
}
@media (max-width : 767px){
.contact .container .about-contant .label ,
.contact .container .about-contant .link {
   font-size: 25px;
}
.contact .container .about-contant .special{
   font-size: 14px;
}
}
.contact .container .about-contant .special i{
 margin-left: 5px;
 color: var(--secondary-color);
}
/* End Contact */

/* Start Footer */

.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px ;
  text-align: center;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */





